<div class="dashboard-container">
  <div class="dashboard-header">
    <h1>Dashboard</h1>
    <button (click)="logout()" class="btn btn-logout">Sair</button>
  </div>
 @if (currentUser) {
  <div class="welcome-card" >
    <h2>Bem-vindo, {{ currentUser.nomeCompleto }}!</h2>
    <div class="user-info">
      <p><strong>Login:</strong> {{ currentUser.login }}</p>
      <p><strong>Email:</strong> {{ currentUser.email }}</p>
      <p><strong>Quantidade de Acessos:</strong> {{ currentUser.acessos }}</p>
    </div>
  </div>
}

</div>